
# Empty-string variables will not be considered

GK_LOG_LEVEL="trace"
GK_HOMIE_PREFIX="homie"             # Separate multiple prefixes with a comma
GK_BROKER_PORT="1883"
GK_BROKER_HOSTNAME="mosquitto"
GK_BROKER_USERNAME=""
GK_BROKER_PASSWORD=""
GK_DASH_BIND_PORT="8080"
GK_DASH_BIND_ADDR="127.0.0.1"
GK_BROKER_BIND_PORT="1884"
GK_BROKER_BIND_ADDR="127.0.0.1"
GK_TSCALE_BIND_PORT="5433"
GK_TSCALE_BIND_ADDR="127.0.0.1"
