button, a.q-button {

    display: inline-block;
    appearance: none;
    border: none;
    border-radius: 3px;
    /* height: 1.5rem; */
    padding: 0.1em;
    margin: none;
    text-decoration: none;

    &.q-primary {
        background: var(--q-color-btn-primary);
    }

    &.q-secondary {
        background: var(--q-color-btn-secondary);
    }

}
